@using LibraryReporter.Models.Publisher
@using LibraryReporter.Services
@model List<PublisherViewModel>
@inject AuthService authService
@inject UserService userService


<div class="tableBody">

    <div class="search-section">
        <form method="post" action="/Publisher/SearchPublishers" class="search-form">
            <input type="text" name="name" placeholder="Введите название издателя" class="search-input" id="Name" />
            <input type="text" name="city" placeholder="Введите город" class="search-input" id="City" />
            <input type="text" name="email" placeholder="Введите эл. почту" class="search-input" id="Email" />
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div>
    <table class="tableBook">
        <thead>
            <tr>
                <th>Название</th>
                <th>Город</th>
                <th>Эл. Почта</th>
                <th>Дата добавления</th>
                @* @if (authService.IsAuthenticated())
                {
                    <th>Купить</th>
                } *@
                @if (authService.IsLibraryModerator())
                {
                    <th>Изменить</th>
                    <th>Удалить</th>
                }
            </tr>
            @if (authService.IsLibraryModerator())
            {
                <div class="creation-order">
                    <a class="text-neutral-950 hover:text-orange-500 py-2 px-4 rounded-md bg-orange-200" href="/Publisher/CreatePublisher">Добавить издателя</a>
                </div>
            }
        </thead>
        <tbody>
            @foreach (var publisher in Model)
            {
                <tr>
                    <td>@publisher.Name</td>
                    <td>@publisher.City</td>
                    <td>@publisher.Email</td>
                    <td>@publisher.AddedDate</td>
                    @* @if (authService.IsAuthenticated())
                    {
                        <td>
                            <a href="/Home/BuyBook?bookId=@book.Id" class="action-icon ">
                                <img src="/images/buy-icon.png" alt="Купить" />
                            </a>
                        </td>
                    } *@
                    @if (authService.IsLibraryModerator())
                    {
                        <td>
                            <a href="/Publisher/EditPublisher?publisherId=@publisher.Id" class="action-icon ">
                                <img src="/images/edit-icon.png" alt="Изменить" />
                            </a>
                        </td>
                        <td>
                            <a href="#" class="action-icon" onclick="confirmDelete('/Publisher/DeletePublisher?publisherId=@publisher.Id')">
                                <img src="/images/delete-icon.png" alt="Удалить" />
                            </a>
                        </td>
                        
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(url) {
        if (confirm("Вы уверены, что хотите удалить этого издателя?")) {
            // Если пользователь подтвердил, перенаправляем запрос на сервер
            window.location.href = url;
        }
        // Если пользователь нажал "Отмена", ничего не происходит
    }
</script>

